#project-list-section {
  padding: 0;
  background-color: transparent;
}

.project-list-header {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
  display: none;
}

.project-item-color {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  border: 2px solid;
  margin-right: 10px;
}

.project-item-title {
  flex-grow: 1;
}

.project-item-num-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: var(--secondary-background-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: background-color 0.3s ease-in-out;
}

.project-list-item,
.add-list-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--horizontal-line-break-color);
  padding: 10px 30px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.add-list-button:last-child {
  border: none;
  border-top: 1px solid var(--horizontal-line-break-color);
  border-bottom: 1px solid var(--horizontal-line-break-color);
}

.add-list-button {
  font-size: 1rem;
  font-family: var(--main-font-family);
  color: var(--add-project-button-text-color);
  background-color: var(--primary-background-color);
  justify-content: flex-start;
  padding: 15px 30px; /* 15px -> account for 30px content height in project-list-item */
}

.plus-symbol {
  margin-left: 5px;
  margin-right: 15px;
}

.menu-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-y: auto;
  max-height: 60vh;
}

.show-menu {
  height: auto;
  padding-top: 40px;
}

/* Hover Styles */
.project-list-item:hover {
  cursor: pointer;
  background-color: var(--secondary-background-color);
}

.add-list-button:last-child:hover {
  cursor: pointer;
  background-color: var(--add-project-button-hover-background-color);
  color: var(--add-project-button-hover-text-color);
}

.project-list-item:hover .project-item-num-todos {
  background-color: var(--primary-background-color);
}

/* Project Form Specifics */
input[type="color"] {
  appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  outline: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 30%;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  #project-list-section {
    padding: 20px;
    background-color: var(--primary-background-color);
    overflow-y: auto; /* enable vertical scrolling */
    max-height: 100vh;
    border-radius: 10px;
  }

  #project-list-section::-webkit-scrollbar {
    width: 6px;
  }

  #project-list-section::-webkit-scrollbar-thumb {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    background: var(--scrollbar-color);
  }

  #project-list-section::-webkit-scrollbar-track {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
  }

  .menu-container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow-y: auto;
    max-height: fit-content;
  }

  .show-menu {
    height: auto;
    padding-top: 0px;
  }

  .project-list-item,
  .add-list-button {
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 10px 0;
  }

  .add-list-button:last-child {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 20px;
    height: 40px;
  }
}
