#project-list-section {
  padding: 0;
  background-color: transparent;
}

.project-list-header {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
  display: none;
}

.project-item-color {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  border: 2px solid;
  margin-right: 10px;
}

.project-item-title {
  flex-grow: 1;
}

.project-item-num-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: var(--secondary-background-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.project-list-item,
.add-list-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--horizontal-line-break-color);
  padding: 10px 30px;
}

.add-list-button:last-child {
  border: none;
  border-top: 1px solid var(--horizontal-line-break-color);
  border-bottom: 1px solid var(--horizontal-line-break-color);
}

.add-list-button {
  font-size: 1rem;
  font-family: var(--main-font-family);
  color: var(--text-color-new-list-button);
  background-color: var(--primary-background-color);
}

.add-list-button:hover {
  cursor: pointer;
}

.plus-symbol {
  margin-left: 5px;
  margin-right: 15px;
}

.add-list-button {
  justify-content: flex-start;
  padding: 15px 30px; /* 15px -> account for 30px content height in project-list-item */
}

.burger-menu-button {
  display: block;
  /* position: fixed; */
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  /* border: 1px solid black; */
  border-radius: 50%;
  background-color: var(--primary-background-color);
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.add-todo-button {
  display: block;
  /* position: fixed; */
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--add-todo-button-mobile-color);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.show-menu .burger-menu-button {
  display: none;
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  z-index: 1;
  border-top: 1px solid var(--horizontal-line-break-color);
}

.hidden {
  display: none;
}

.menu-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-y: auto;
  max-height: 60vh;
}

.show-menu {
  height: auto;
  padding-top: 40px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: var(--primary-background-color);
  height: auto;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form label {
  margin: 10px 0;
  font-size: 1rem;
}

form input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
  font-size: 1rem;
}

form button {
  background-color: var(--secondary-background-color);
  font-family: var(--main-font-family);
  font-size: 1rem;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  cursor: pointer;
  background-color: var(--theme-accent-color);
  color: var(--add-button-text-color);
}

input[type="color"] {
  appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  outline: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 30%;
  padding: 5px;
}

.error-message {
  color: var(--error-message-text-color);
  font-size: 0.8rem;
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 425px) {
  form {
    width: 60%;
  }
}

@media screen and (min-width: 600px) {
  form {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  #project-list-section {
    padding: 20px;
    background-color: var(--primary-background-color);
    overflow-y: auto; /* enable vertical scrolling */
    max-height: 100vh;
    border-radius: 10px;
  }

  #project-list-section::-webkit-scrollbar {
    width: 6px;
  }

  #project-list-section::-webkit-scrollbar-thumb {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    background: var(--scrollbar-color);
  }

  #project-list-section::-webkit-scrollbar-track {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
  }

  .menu-container {
    position: relative;
    width: auto;
    height: auto;
    /* background-color: white; */
    overflow: hidden;
    z-index: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow-y: auto;
    /* max-height: 60vh; */
    border: 3px solid red;
  }

  .show-menu {
    height: auto;
    padding-top: 0px;
  }

  /* .burger-menu-button {
    display: none;
  }

  .add-todo-button {
    display: none;
  } */

  .button-container {
    display: none;
  }

  /* project-list can be removed? */
  .project-list {
    display: block;
  }

  .project-list-item,
  .add-list-button {
    border: none;
    padding: 10px 20px;
  }

  .add-list-button:last-child {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 20px;
  }

  form {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  form {
    width: 30%;
  }
}
