#todo-list-section {
  background-color: var(--primary-background-color);
  padding: 0 20px;
  height: fit-content;
}

.no-todos-message {
  padding: 20px 0;
}

.date-header {
  border-top: 1px solid var(--horizontal-line-break-color);
  padding: 20px 0 0;
}

.date-header:first-child {
  border-top: none;
}

.date-header:last-child {
  padding: 20px 0;
}

.date-header-text {
  font-size: 0.8rem;
  color: var(--secondary-text-color);
  padding-bottom: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--horizontal-line-break-color);
  padding: 10px 5px;
}

.date-header:last-child .todo-item:last-child {
  border-bottom: 1px solid var(--horizontal-line-break-color);
}

.todo-item-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: black;
  flex-shrink: 0;
  cursor: pointer;
}

.todo-title {
  flex-grow: 1;
}

.todo-item-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.edit-todo-item-button {
  color: var(--edit-symbol-color);
  transition: color 0.3s ease-in-out;
}

.todo-priority,
.todo-tag {
  width: 75px;
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
  /* background-color: var(--secondary-background-color); */
  padding: 3px;
}

.todo-priority {
  color: white;
}

.todo-tag {
  border: 1px solid;
  background-color: transparent;
}

/* Hover Styles */
.todo-item:hover .edit-todo-item-button {
  display: block;
  cursor: pointer;
}

/* Priority Color Flags */
.priority-high {
  color: #ff0000;
}

.priority-medium {
  color: #ffa500;
}

.priority-low {
  color: #008000;
}

@media screen and (min-width: 768px) {
  #todo-list-section {
    border-radius: 10px;
  }
}
